@import '../GlobalStyles/Mixins.scss';

#dashboard {
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
    background-color: $primary-background;
    @include flex();

    .dashboardCompWrapper {
        width: 80%;
        margin: 0 auto;
        height: 100vh;
        background: $primary-background;
        padding: 2em;
    }
}
