@import '../GlobalStyles/Mixins.scss';

#dashboard {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: $primary-background;
    @include flex();
    @include tablet {
        display: block;
    }

    .dashboardCompWrapper {
        width: 80%;
        min-height: 100vh;
        max-height: 100vh;
        overflow-y: auto;
        background: $primary-background;
        padding: 2em;
        @include tablet {
            width: 100%;
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $secondary-background;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $cta-background;
}
