@import '../../GlobalStyles/Mixins.scss';

#dashboardNav {
    width: 20%;
    height: 100vh;
    padding: 2em;
    background-color: $secondary-background;

    a {
        padding: 0.8em 0;
        margin-bottom: 1.3em;
        display: block;
        text-transform: capitalize;
        transition: 0.4s;
        cursor: pointer;
        font-weight: 300;

        &:hover {
            padding-left: 1em;
            color: $cta-background;
            border-left: 2px solid $cta-background;
            font-weight: 500;
        }

        &.active {
            padding-left: 1em;
            border-left: 2px solid $cta-background;
            font-weight: 500;
            color: $cta-background;
        }
    }
}
