@import '../../GlobalStyles/Mixins.scss';

.listingsComponent {
    @include flex();
    position: relative;

    .listingsWrapper {
        width: 60%;
        margin-right: 2em;
        height: auto;
        min-height: 90vh;

        input {
            display: block;
            width: 100%;
            height: 50px;
            border-radius: 4px;
            background-color: $primary-text;
            caret-color: $primary-background;
            color: $primary-background;
        }

        .listings {
            visibility: hidden;
            margin: 2em 0 0 0;
        }
    }
}
