@import '../../../GlobalStyles/Mixins.scss';

.listingDetails {
    visibility: hidden;
    overflow: auto;
    position: sticky;
    right: 0;
    top: 0;
    height: calc(100vh - 3em);
    border-radius: 10px;
    width: 40%;
    padding: 2em;
    background-color: $secondary-background;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);

    img {
        object-fit: cover;
        display: block;
        margin: 0 auto;
        width: 120px;
        height: 120px;
        border-radius: 10px;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    }

    .listingInfo {
        margin-top: 2em;
        text-align: center;

        h3 {
            font-size: 1.2rem;
            font-weight: 800;
            margin-bottom: 0.5em;
        }
    }

    div {
        margin-top: 2em;
    }

    .cta {
        position: sticky;
        bottom: -2em;
        width: 100%;
        height: auto;
        margin: 2em 0 0 0;
        background-color: $secondary-background;
        @include flexAlignCenterSpaceBetween();

        button.secondary {
            background-color: $cta-secondary-background;
            color: $primary-text;
        }

        button {
            width: 49%;
            border: none;
            padding: 1.5em 2em;
            background-color: $cta-background;
            color: $primary-background;
        }
    }

    /* width */
    &::-webkit-scrollbar {
        width: 0px;
    }
}
