@import '../../GlobalStyles/Mixins.scss';

.bookingForm {
    h1 {
        padding: 0 2rem;
        margin-bottom: 3rem;
        @include mobile {
            padding: 0;
        }
    }

    .parking_lot_details {
        position: relative;
        max-height: 8rem;
        background-color: $secondary-background;
        width: max-content;
        padding: 1rem;
        border-radius: 5px;
        margin: 0 0 2rem 2rem;
        @include flexAlignCenter();

        @include mobile {
            margin: 0;
            width: 100%;
        }

        img {
            width: 5rem;
            height: 5rem;
            object-fit: cover;
            margin-right: 2rem;
            border-radius: 5px;
            @include mobile {
                width: 4rem;
                height: 4rem;
            }
        }

        .parkinglot_info {
            h1 {
                font-size: 1.2rem;
                padding: 0;
                margin-bottom: 0.8rem;
                @include mobile {
                    font-size: 1rem;
                }
            }
            p {
                @include mobile {
                    font-size: 0.8rem;
                }
            }
        }
    }

    #bookingForm {
        padding: 0 2rem;
        width: 100%;
        height: auto;
        background-color: $primary-background;
        border-radius: 5px;
        @include mobile {
            padding: 0;
        }

        button {
            min-height: 55px;
            background-color: $cta-background;
            border-radius: 5px;
            color: $primary-background;
            padding: 1rem 2rem;
            display: block;
            margin-left: auto;
            font-weight: 500;
        }
    }
}
