@import '../../Auth/Auth.scss';

#bookingForm {
    width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;

    .inputContainer {
        position: relative;

        label {
            margin: 0;
            position: absolute;
            transform: translate(15px, 30px);
            font-weight: 300;
            transition: 0.4s;
            z-index: 0;
        }

        input {
            z-index: 1;
            width: 100%;
            background: transparent;
            border: none;
            border-bottom: 1px solid $primary-text;
            margin: 20px 0;
        }
    }
}
